<%- include('./includes/header.ejs') %> 

<section id="nav" class="">
    <nav class=" p-6 bg-slate-800 flex justify-between">
        <ul class=" flex items-center">
            <li>
                <a href="/" class="p-3 font-black text-white">D<span class="text-red-200 font-black">A</span>RK</a>
            </li>
            
        </ul>
        <ul class=" flex items-center">
                <li>
                    <a href="/" class="p-3 text-white">Home</a>
                </li>
                <li>
                    <a href="#" class="p-3 text-white">List</a>
                </li>
                <li>
                    <a href="#" class="p-3 text-white">Community</a>
                </li>
                <li>
                    <a href="Logout" class="p-3 text-red-600">Logout</a>
                </li>
        </ul>
    </nav>
</section>
<section class="body">
    <main class="pt-12 bg-slate-900 pb-12">

    <div class="container mx-auto px-4 flex flex-wrap lg:flex-nowrap">
        <!-- left sidebar -->
        <div class="w-3/12 hidden xl:block">
            <!-- categories -->
            <div class="w-full bg-slate-800 shadow-sm rounded-lg p-4 ">
                <a href="#" class="flex group">
                    <div class="flex-shrink-0">
                        <img src="<%= user.pic %> " class="h-14 w-full align-middle justify-center rounded object-cover">
                    </div>
                    <div class="flex-grow pl-3">
                        <h5
                            class="text-md leading-5 block font-roboto font-semibold text-center mr-16 mt-3 text-white transition group-hover:text-blue-900">
                            <%= user.name %> 
                        </h5>
                    </div>
                </a>
            </div>
    
            <!-- random posts -->
            <div class="w-full mt-8 bg-slate-800 shadow-sm rounded-lg p-4 ">
                <h3 class="text-xl font-semibold text-white mb-3 font-roboto">Your Rate top 5</h3>
                <div class="space-y-4">
                    
                </div>
            </div>
        </div>
        <div class="xl:w-6/12 lg:w-9/12 w-full  xl:ml-6 lg:mr-6">

            <!-- big post -->
            <div class="rounded-lg overflow-hidden bg-slate-800 shadow-sm">
                <a href="#" class="block rounded-md overflow-hidden">
                    <img src="/img/1.png"
                        class="w-full h-96 object-cover transform hover:scale-110 transition duration-500">
                </a>
                <div class="p-4 pb-5">
                    <a href="#">
                        <h2
                            class="block text-2xl font-semibold text-white hover:text-blue-900 transition font-roboto">
                            Welcome
                        </h2>
                    </a>
                    <p class="text-white text-sm mt-2">
                        Demon Slayer: Kimetsu no Yaiba
                    </p>
                    <div class="mt-3 flex space-x-4">
                        <div class="flex text-white text-sm items-center">
                            <span class="mr-2 text-xs">
                                <i class="far fa-tv"></i>
                            </span>
                            TV Series
                        </div>
                        <div class="flex text-white text-sm items-center">
                            <span class="mr-2 text-xs">
                                <i class="far fa-clock"></i>
                            </span>
                            2019 - ~
                        </div>
                    </div>
                </div>
            </div>
            <!-- regular post -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
                <div class="rounded-lg bg-slate-800 p-4 pb-5 shadow-sm">
                    <a href="#" class="block rounded-md overflow-hidden">
                        <img src="/img/2.png"
                            class="w-full h-60 object-cover transform hover:scale-110 transition duration-500">
                    </a>
                    <div class="mt-3">
                        <a href="#">
                            <h2
                                class="block text-xl font-semibold text-white hover:text-blue-500 transition font-roboto">
                                91 Days
                            </h2>
                        </a>
                        <div class="mt-2 flex space-x-3">
                            <div class="flex text-white text-sm items-center">
                                <span class="mr-2 text-xs">
                                    <i class="far fa-clock"></i>
                                </span>
                                June 9, 2016
                            </div>
                            <div class="flex text-red-400 text-sm items-center">
                                <span class="mr-2 text-xs">
                                    <i class="far fa-delete"></i>
                                </span>
                                <form action="/deletePost/<%= user.id %> " method="post">
                                    <button>Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</main>
</section>

<%- include('./includes/footer.ejs') %> 